*{
    margin: 0px;
    padding: 0px;
}

.navbar ul{
    /* display: flex; */
    text-align: center;
    padding: 6px;
    margin: 0px;
    background-color:rgba(255, 255, 255, 0.822);
    /* justify-content: space-evenly; */
}
.navbar ul li{
    display: inline-block;
    padding: 11px;
    border: solid black 2px;
    border-radius: 1rem;
}
.item{
    margin: 0px 15px;
}
.navbar:hover{
    cursor: pointer;
    
}
#Home{
    background-image: url(./bg/Background-image.png);
    background-repeat:round;
    text-align: center;
    padding: 7% 23%;
    color: chartreuse;
    font-size: 30px;
    width: 1044px;
    height: 469px;
    object-fit: cover;
}
.btn{
    border:none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    margin: 2%;
    transition-duration: 200;

}
.btn:hover{
    background: transparent;
    color:rgb(13, 43, 216);
    border: seashell 2px solid;
    border-radius: 2.5rem;
    padding: 1rem 3rem;
    font-size: 1.5rem;


}
#new{
    padding: 0px;
    float: right;
}
.card-holder{
    display: flex;
    flex-direction: row;
    /* overflow-x: scroll;
    width: 100%; */
}

.card{
    text-align: center;
    /* border: slateblue 2px; */
    height: 373px;
    width: 503px;
    padding: 2%;
    margin: 50px 100px;
    box-shadow: 0px 8px 10px gray;
    /* justify-content: space-between;
    align-items: center; */
}
.suggestion-card{
    text-align: center;
    height: 273px;
    width: 553px;
    /* padding: 2%; */
    margin: 74px 31px;
    border: 2px solid black;
    box-shadow: 11px 17px 5px gray; 
    /* justify-content: space-between;
    align-items: center; */
}
.card-content{
    margin: 10px 0px;
}
.post{
    border: slateblue 2px;
    /* height: 399px; */
    width: 747px;
    padding: 0%;
    margin: 32px auto;
    box-shadow: 12px 18px 42px gray;
    
}
.post .post-title{
    /* font-size: 40px;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    margin: 5px 17px;
    padding: 1rem 2rem;
    /* text-decoration: none; */
    /* color: black; */
}
.post .post-title a{
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* margin: 5px 17px;
    padding: 1rem 2rem; */
    text-decoration: none;
    color: black;
}
.post p{
    font-size: 20px;
    /* margin: 17px 4px; */
    margin: 5px 17px;
    /* padding: 1rem 2rem; */
}
/* #new2:hover{
    transform:scale(1.03);
    overflow: hidden;
} */
.button{
    border:none;
    border-radius: 5rem;
    padding: 1rem 2rem;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    margin: 5px 17px;
    transition-duration: 200;

}
.button:hover{
    background: transparent;
    color:rgb(13, 43, 216);
    border: seashell 2px solid;
    border-radius: 2.5rem;
    padding: 1rem 3rem;
    font-size: 1.5rem;
}
.container{
    /* display: flex;
    align-items: center; */
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
}
.category ul{
    list-style-type: none;
}
.category ul li{
    text-align: center;
    background-color: rgb(111, 152, 228);
    border: rgb(40, 110, 241);
    width: 290px;
    height: 40px;
    border-radius: 30px;
    padding: 7px;
    margin: 20px 186px;

}
/* #new3{
    border: slateblue 2px;
    height: 370px;
    width: 747px;
    padding: 0%;
    margin: 332px 60px;
    box-shadow: 12px 18px 42px rgb(173, 133, 238);
    
}
#new4{
    border: slateblue 2px;
    height: 370px;
    width: 747px;
    padding: 0%;
    margin: 390px 50px;
    box-shadow: 17px 35px 42px rgb(173, 133, 238);
}

#new5{
    border: slateblue 2px;
    height: 370px;
    width: 747px;
    padding: 0%;
    margin: 390px 50px;
    box-shadow: 17px 35px 42px rgb(173, 133, 238);
} */
h2{
    margin: 50px 50px;
    padding:0%;
    text-align: center;
    font-family: initial;
    font-size: 50px;

}
.popular-post{
    padding: 0%;
    margin: 10px 20px;
    text-align: center;
}
.left{
    float: left;
    margin: 10px 20px;
}
/* .right{
    float: right;
} */
.Suggestion{
    margin: 52px 144px;
    /* text-align: center; */
    font-size: 214%;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: darkblue;
    
}
footer.footer{
    height: 100%;
    background-color: black;
    color: white;
    position: relative;
}
footer.footer .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
footer.footer .container > div{
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem .9rem;
}

footer.footer .container h2{
    color:white
}

footer.footer .newsletter .form-element{
    background: black;
    display: inline-block;
}

footer.footer .newsletter .form-element input{
    padding: .5rem .7rem;
    border: none;
    background: transparent;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    font-size: 1rem;
    width: 74%;
}

footer.footer .newsletter .form-element span{
    background-color: white;
    padding: .5rem .7rem;
    cursor: pointer;
}
footer.footer .instagram div > img{
    display: inline-block;
    width: 25%;
    height: 50%;
    margin: .3rem .4rem;
}

footer.footer .follow div i{
    color:white;
    padding: 0 .4rem;
}
footer.footer .rights{
    justify-content: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

footer.footer .rights h4 a{
    color: white;
}

footer.footer .move-up{
    position: absolute;
    right: 6%;
    top: 50%;
}

footer.footer .move-up span{
    color: midnightblue;
}

footer.footer .move-up span:hover{
    color: white;
    cursor: pointer;
}

